<!DOCTYPE html>
<html>
    <head>
        <title>Movie recommendation</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Movie Recommendation</h1>
                <h3>We give the best movie recommendations. Make sure to wastch all of em.</h3>
                <p>Got to /search to search for movie.</p>
            </div>
        </div>
    </body>
</html>